* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: #303030;
    -webkit-text-size-adjust: 100%;
    background-color: #dfddd0;
}

#main-wrapper {
    width: 960px;
    margin: auto;
    margin-top: 20px;
}

#plot {
    position: absolute;

    width: 900px;
    height: 400px;
    
    right: -20px;
    margin-bottom: 20px;
}

/* Flotr related styles */
.flotr-legend {
    padding: 2px;
    left: 804px;
    top: 11px;
    border: 0;
    
    background-color: white;
}

#port-picker {
    float: left;
    
    margin-left: 40px;
}
    #port-picker dl {
        line-height: 25px;
    }
    #port-picker dt {
        float: left;
        width: 40px;
    }
    #port-picker dd {
        margin-left: 40px;
    }
    #port-picker select {
        width: 80px;
        border: 1px solid silver;
    }
    #port-picker a {
        display: block;
        
        width: 78px;
        height: 18px;
        
        margin-bottom: 5px;
        
        line-height: 18px;
        text-align: center;
        color: white;
        
        text-decoration: none;
        border: 1px solid silver;
    }
    #port-picker a.connect {
        margin-top: 2px;
        background-color: #be2222;
    }
    #port-picker a.connect:hover {
        background-color: #ea3131;
    }
        #port-picker a.connect.active {
            background-color: #0fab16;
        }
        #port-picker a.connect.active:hover {
            background-color: #13d81d;
        } 
    #port-picker a.refresh {        
        background-color: #5569d0;
    }
    #port-picker a.refresh:hover {
        background-color: #424d84;
    }        
 

#analyzer-configuration {
    float: left;
    
    margin-left: 40px;
}
    #analyzer-configuration dl {
        line-height: 25px;
    }
    #analyzer-configuration dt {
        float: left;
        width: 130px;
    }
    #analyzer-configuration dd {
        margin-left: 130px;
    }
    #analyzer-configuration select {
        width: 60px;
        border: 1px solid silver;
    }

#plot-configuration {
    float: left;
    
    margin-left: 40px;
}
    #plot-configuration dl {
        line-height: 25px;
    }
    #plot-configuration dt {
        float: left;
        width: 80px;
    }
    #plot-configuration dd {
        margin-left: 80px;
    }
    #plot-configuration select {
        width: 60px;
        border: 1px solid silver;
    }